requests==2.32.3
pymysql==1.1.1
aiomysql==0.2.0

pandas==2.2.2
numpy==1.26.4
scipy==1.11.4
scikit-learn==1.5.2
lightgbm==4.5.0

gspread==6.2.1
gspread-dataframe==4.0.0
google-auth==2.34.0
google-auth-oauthlib==1.2.2